.logo {
    @include size(140px, 44px);
    background: {
        image: url('https://www.cargocall.co.kr/app/static/images/logo.png');
        size: cover;
    }
}

.section,
.main {
    width: 100%;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    @include flex(center, center);
    @include mobile {
        max-width: 100vw;
    }
    * {
        font-size: inherit;
    }
}

.blind {
    text-indent: -999999px;
}