$font-color: #454f5d;
$point-color: #41CC93;
$point-blue: #4A95F1;
$point-red: #DA1F26;
$point-green: rgb(0, 147, 64);

@mixin flex($j : center, $a : center, $g : 0) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin head-font {
    font-family: 'Black Han Sans', sans-serif;
}

@mixin menuBtn {
    padding: 0 8vw;
    background: #fff;
    @include size(100vw, 6vh);
    @include flex($j: space-between);
    &::after {
        display: block;
        content: '';
        transform: rotate(45deg);
        border: {
            style: solid;
            width: 1px;
            color: $font-color;
            left: none;
            bottom: none;
        }
        @include size(1vh, 1vh);
    }
}

@mixin menuBoxOff {
    background: #fff;
    left: -100vw;
    opacity: 1;
    transition-delay: 50ms;
    transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
}

@mixin menuBoxOn {
    left: 0;
    width: 100vw;
    opacity: 1;
}