@keyframes mainDung {
  100% {
    transform: translateY(-20px);
    text-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff, 0 5px 0 #fff, 0 6px 0 #fff, 0 7px 0 #fff, 0 8px 0 #fff, 0 9px 0 #fff, 0 50px 25px rgba(0, 0, 0, 0.2); } }
@keyframes onlyOnePseudo {
  100% {
    width: 50%; } }
@keyframes onlyOnePseudoMobile {
  100% {
    height: 50%; } }
@keyframes onlyOneShow {
  0% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    visibility: visible; } }
@keyframes transformY {
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes transformX {
  100% {
    transform: translateX(0);
    opacity: 1; } }
.main.observerIn {
  position: relative; }
  .main.observerIn h2 span.point {
    display: inline-block;
    text-shadow: 0 1px 0 #fff, 0 2px 0 #fff, 0 3px 0 #fff, 0 4px 0 #fff, 0 5px 0 #fff, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    animation-name: mainDung;
    animation-delay: .5s;
    animation-duration: .1s;
    animation-timing-function: ease;
    animation-iteration-count: 2;
    animation-direction: alternate; }
    .main.observerIn h2 span.point:nth-of-type(2) {
      animation-delay: 0.6s; }
    .main.observerIn h2 span.point:nth-of-type(3) {
      animation-delay: 0.7s; }

.section-sub h2 {
  opacity: 0; }
.section-sub.observerIn h2 {
  transform: translateY(40px);
  animation-name: transformY;
  animation-delay: .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards; }
  .section-sub.observerIn h2:nth-of-type(2) {
    animation-delay: 1s; }
.section-how-price.observerIn h2 {
  position: sticky;
  top: 80px;
  left: 0;
  z-index: 8;
  background: #fff;
  width: 100%;
  padding: 20px 0;
  transition: top .1s; }
  @media (max-width: 767px) {
    .section-how-price.observerIn h2 {
      top: 10vh; } }
.section-comfortable .text_box li {
  opacity: 0; }
.section-comfortable.observerIn .text_box li {
  transform: translateX(-50px);
  animation-name: transformX;
  animation-duration: .2s;
  animation-fill-mode: forwards; }
  .section-comfortable.observerIn .text_box li:nth-of-type(1) {
    animation-delay: 0.1s; }
  .section-comfortable.observerIn .text_box li:nth-of-type(2) {
    animation-delay: 0.2s; }
  .section-comfortable.observerIn .text_box li:nth-of-type(3) {
    animation-delay: 0.3s; }
  .section-comfortable.observerIn .text_box li:nth-of-type(4) {
    animation-delay: 0.4s; }
  .section-comfortable.observerIn .text_box li:nth-of-type(5) {
    animation-delay: 0.5s; }
@media (max-width: 767px) {
  .section-compare .inner {
    position: sticky;
    top: 10vh;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: repeating-linear-gradient(to bottom, #fff, #fff 50%, #41CC93 50%, #41CC93 100%); }
  .section-compare .text_contents li {
    opacity: 0;
    transition: opacity .1s, transform .1s; }
  .section-compare .text_contents.observer {
    opacity: 0.5; }
    .section-compare .text_contents.observer li {
      opacity: 1;
      transform: translateY(-10px); } }

.article h3,
.article .inner > * {
  opacity: 0; }
.article.observerIn h3 {
  transform: translateX(50px);
  opacity: 0;
  animation-name: transformX;
  animation-duration: .2s;
  animation-fill-mode: forwards; }
.article.observerIn:nth-of-type(even) h3 {
  transform: translateX(-50px); }
.article-only_one.observerIn ul li::before, .article-only_one.observerIn ul li::after {
  width: 0; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li::before, .article-only_one.observerIn ul li::after {
      width: 2px;
      height: 0; } }
.article-only_one.observerIn ul li > *:nth-child(n + 2) {
  visibility: hidden; }
.article-only_one.observerIn ul li:nth-of-type(1) *:nth-child(n + 2) {
  animation-name: onlyOneShow;
  animation-delay: 0.4s;
  animation-duration: .2s;
  animation-fill-mode: forwards; }
.article-only_one.observerIn ul li:nth-of-type(1)::before {
  animation-name: onlyOnePseudo;
  animation-delay: 0s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(1)::before {
      animation-name: onlyOnePseudoMobile; } }
.article-only_one.observerIn ul li:nth-of-type(1)::after {
  animation-name: onlyOnePseudo;
  animation-delay: 0.6s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(1)::after {
      animation-name: onlyOnePseudoMobile; } }
.article-only_one.observerIn ul li:nth-of-type(2) *:nth-child(n + 2) {
  animation-name: onlyOneShow;
  animation-delay: 1.4s;
  animation-duration: .2s;
  animation-fill-mode: forwards; }
.article-only_one.observerIn ul li:nth-of-type(2)::before {
  animation-name: onlyOnePseudo;
  animation-delay: 1s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(2)::before {
      animation-name: onlyOnePseudoMobile; } }
.article-only_one.observerIn ul li:nth-of-type(2)::after {
  animation-name: onlyOnePseudo;
  animation-delay: 1.6s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(2)::after {
      animation-name: onlyOnePseudoMobile; } }
.article-only_one.observerIn ul li:nth-of-type(3) *:nth-child(n + 2) {
  animation-name: onlyOneShow;
  animation-delay: 2.4s;
  animation-duration: .2s;
  animation-fill-mode: forwards; }
.article-only_one.observerIn ul li:nth-of-type(3)::before {
  animation-name: onlyOnePseudo;
  animation-delay: 2s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(3)::before {
      animation-name: onlyOnePseudoMobile; } }
.article-only_one.observerIn ul li:nth-of-type(3)::after {
  animation-name: onlyOnePseudo;
  animation-delay: 2.6s;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }
  @media (max-width: 767px) {
    .article-only_one.observerIn ul li:nth-of-type(3)::after {
      animation-name: onlyOnePseudoMobile; } }
.article-optimization.observerIn h3 {
  padding-bottom: 0; }
.article-optimization.observerIn img {
  transform: translateY(-60px);
  animation-name: transformY;
  animation-delay: .8s;
  animation-duration: .4s;
  animation-fill-mode: forwards; }
.article-optimization.observerIn ul {
  z-index: 1;
  transform: translateX(-60px);
  animation-name: transformX;
  animation-delay: 1.2s;
  animation-duration: .4s;
  animation-fill-mode: forwards; }
.article-stable_route .text_box {
  opacity: 1; }
  .article-stable_route .text_box p {
    opacity: 0; }
.article-stable_route.observerIn img {
  transform: translateX(60px);
  animation-name: transformX;
  animation-delay: .8s;
  animation-duration: .4s;
  animation-fill-mode: forwards; }
.article-stable_route.observerIn .text_box {
  opacity: 1; }
  .article-stable_route.observerIn .text_box p {
    transform: translateX(60px);
    animation-name: transformX;
    animation-delay: 1.2s;
    animation-duration: .4s;
    animation-fill-mode: forwards; }
    .article-stable_route.observerIn .text_box p:nth-of-type(2) {
      animation-delay: 1.6s; }

/*# sourceMappingURL=animation.css.map */
