$font-color: #454f5d;
$point-color: #41CC93;
$point-blue: #4A95F1;
$point-red: #DA1F26;

@mixin flex($j : center, $a : center, $g : 0) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

.section {
    min-height: 100vh;
}