@import "utils";
@import "responsive";

@keyframes mainDung {
    100% {
        transform: translateY(-20px);
        text-shadow:
            0 1px 0 #fff,
            0 2px 0 #fff,
            0 3px 0 #fff,
            0 4px 0 #fff,
            0 5px 0 #fff,
            0 6px 0 #fff,
            0 7px 0 #fff,
            0 8px 0 #fff,
            0 9px 0 #fff,
            0 50px 25px rgba(0, 0, 0, .2);
    }
}

@keyframes subTitle {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes onlyOnePseudo {
    100% {
        width: 50%;
    }
}

@keyframes onlyOneShow {
    100% {
        visibility: visible;
    }
}